<li class="nav-item">
    <a class="nav-link" asp-controller="Estudiante" asp-action="Index">Estudiantes</a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-controller="Docente" asp-action="Index">Docentes</a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-controller="Curso" asp-action="Index">Cursos</a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-controller="Matriculas" asp-action="Index">Matrículas</a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-controller="Calificaciones" asp-action="Index">Calificaciones</a>
</li>
