@{
    ViewData["Title"] = "Sistema Académico";
}

<h1 class="text-center mb-4">Sistema Académico</h1>

<div class="flex-container">
    <a asp-controller="Cursos" asp-action="Index" class="btn btn-lg">Cursos</a>
    <a asp-controller="Docentes" asp-action="Index" class="btn btn-lg">Docentes</a>
    <a asp-controller="Estudiantes" asp-action="Index" class="btn btn-lg">Estudiantes</a>
    <a asp-controller="Calificaciones" asp-action="Index" class="btn btn-lg">Calificaciones</a>
    <a asp-controller="Matriculas" asp-action="Index" class="btn btn-lg">Matrículas</a>
</div>
