@model SistemaAcademico.Models.Curso;
@{
	ViewData["Title"] = "Crear Curso";
}
<h2>Crear Nuevo Curso</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Docente</label>
        <select asp-for="DocenteId" class="form-select" asp-items="@(new SelectList(ViewBag.Docentes, "DocenteId", "Nombre"))">
            <option value="">-- Seleccionar Docente --</option>
        </select>
    </div>

    <button type="submit" class="btn btn-success">Crear</button>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</form>
